*{
  background-color:  #a2a4a9;
  color: black;
}
h1{
  font-size: 45px;
  color:  #000000;
  font-style: oblique;
}
div{
  border-style: double;
  width: 50%;
  border-color:  #284bf5;
  background-color:  #f9f7c4;
}
footer{
  color: #000000;
  background-color: #f9f7c4;
}
