a:hover{
  background-color: red;
}
a:visited{
  color: #028c6c;
}
a:link{
  color: blue;
}
a:active{
  color: yellow;
}
h2{
  color: black;
  text-align: center;
  font-size: 50px;
}
h2:hover{
  color: yellow;
  text-align: center;
  font-size: 50px;
}
h3{
  text-align: center;
  color: #134a03
}
ul{
  border: 5px;
}
u{
  font-size: 30px;
}
p{
  font-size: 25px;
  color: blue;
}
a{
  display: inline-block;
  width: 24.5%;
  text-align: center;
  font-style: oblique;
  text-decoration: none;
}
header{
  border: 60px;
  border-width: thick;
  border-style: double;
  border-color: black;
  height: 342px;
  background-color: grey;
  padding: 50px 30px;
  margin: auto;
}
#fotoheader{
  float: left;
}
body{
  background-color: #e8846e;
}
nav{
  background-color: #c9c873;
  padding: 10px;
  margin: auto;
  border: 5px;
  border-style: double;
  border-width: thick;
  border-color: black;
}
#p_name{
  font-style: oblique;
}
#pagina{
  background-color: #b61538;
}
#wombat{
  list-style-type: decimal;
}
#knekro{
  list-style: circle;
}
#ricardo{
  list-style-type: armenian;
}
