div{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  padding: 30px;
  border-style: dashed;
}
#TP:active{
  height: 200px;
  width: 200px;
  background-color: grey;
  color: blue;
}
#BR{
  color: white;
  border-radius: 60px 30px;
  background-image: repeating-radial-gradient(circle,white 10%,blue 20%,black);
}
#BG{
  color: white;
  background-image: linear-gradient(black, white);
}
#RG{
  background-image: radial-gradient(white 1%, green);
}
#RRG{
  background-image: repeating-radial-gradient(circle, white 10%, green 20%);
}
#TP{
  background-color: #ff00ff;
  border-style: groove;
  border-width: 5px;
  transition-property: color, width, background-color, border-radius;
}
#T{
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}
#T:hover{
  transform: translate(100px, 300px);
  transition-duration: 3s;
  transition-timing-function: ease;
}
#R{
  transform: rotate(-65deg);
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}
#R:hover{
  transition-duration: 4s;
  transform: rotate(100deg);
}
#S{
  transform: scale(.5, .7);
}
#Skew{
  transform: skewX(30deg);
}
