body{
  background-image: url(https://images4.alphacoders.com/146/146458.jpg);
  margin: 2%;
	padding:2%;
}
header{
  background-image: url(http://assets.ecenglish.com/blogs/uploads/sites/30/2012/05/grandprix_banner1.png);
  background-repeat: no-repeat;
  height: 330px;
  position: relative;
  left: 40px;
}
#titulo{
  position: relative;
  left: 750px;
  color: #d6b210;
}
#table{
  position: relative;
  border-width: 15px;
  /*background-color: black;*/
}
#logo{
  position: relative;
  left: 770px;
}
nav a.actiu {
  background-color: black;
  color: white;
  cursor: default;
}
nav a:hover {
  background-color: white;
  color: black;
}
nav a {
  position: relative;
  left: 80px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding-left: 15px;
  transition: .5s background-color;
  height:3vh;
	width:16vw;
  background-color: grey;
}
article{
 background-image: url(https://static.vecteezy.com/system/resources/previews/000/095/281/original/dark-vector-background.jpg);
}
p{
  color: white;
   font-size: 1.5em;
}
figcaption{
  color: white;
  font-size: 1em;
}
h2{
  color: #d6b210;
}
#paginaoficial{
  background-color: grey;
  color: blue;
  font-size: 30px;
  text-align: center;
}
table{
  background-color: white;
}
#PPT{
  left: 60px;
  position: relative;
}
footer{
  background-color: grey;
  display: inline-block;
  height:7vh;
	width:7vw;
  font-size: 50px;
}
section{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/095/281/original/dark-vector-background.jpg);
}
h1{
  color:#c84b1b;
}
#tabla{
  position: relative;
  left: 580px;
  background-image: none;
}
form{
  background-color: white;
  margin: 2%;
	padding:2%;
}
