table{
	background-color: grey;
  width: 75%;
	color: black;
	align: center;
}
footer{
	text-align: right;
	display: inline-block;
	font-size: 23px;
  margin-top: 120px;
}
h1{
	color: black;
	background-color: white;
	text-align: center;
}
p{
	font-size: 25px;
  text-align: center;
}
.P{
	background-color: red;
	color: white;
	text-align: center;
	font-size: 25px;
}
.I{
	background-color: green;
	color: white;
	text-align: center;
}
